<app-sound-player-row></app-sound-player-row>
<app-sound-player-row></app-sound-player-row>
<app-sound-player-row></app-sound-player-row>
<app-sound-player-row></app-sound-player-row>

<button (click)="toggleMute()">Mute</button>

