<app-sound-player filename="alert.wav"></app-sound-player>&nbsp;
<app-sound-player filename="correct.mp3"></app-sound-player>&nbsp;
<app-sound-player filename="game-over.wav"></app-sound-player>&nbsp;
<app-sound-player filename="wrong.wav"></app-sound-player>
<app-sound-player-solo filename="game-over.wav"></app-sound-player-solo>

